.root {
    text-align: center;
    margin: 30px 0;
    user-select: none;
    li {
        display: inline-flex;

        a {
            color: #fe5f1e;
            text-align: center;
            font-size: 16px;
            font-weight: 700;
            justify-content: center;
            align-items: center;
            width: 45px;
            height: 45px;
            padding: 10px;
            border: 1px solid #fe5f1e;
            border-radius: 30px;
            cursor: pointer;

            transition: all 0.15s ease-in-out;

            &:hover {
                background-color: #ff8383;
                color: #ffffff;
            }
        }

        &:not(:last-of-type) {
            margin-right: 30px;
        }
    }

    :global {
        .selected {
            a {
                background-color: #ff8383;
                color: #ffffff;
            }
        }
    }
}
